<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../resources/css/login.css">
	<title>登录</title>
</head>
<body>
  登录博客园
	<form class="form" method="post" action="/add">
	
		<div class="top">
			<div>登陆用户名</div>
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="请输入用户名">
 	 	</div>
  		<div class="form-group">
  			<div>密码</div>
    		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
  		</div>
  				<div >
  					<button type="button" class="btn">登录</button>  	
  				</div>
  	</form>
</body>
</html>