<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="referrer" content="origin" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="../resources/css/news.css" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title>新随笔</title>
</head>
<body>
	<div class="top">
        <header>欢迎来到博客园！</header>
    </div> 
	<center>
		<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#F6F6EF">
			<tr>
				<td bgcolor="pink">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
						<tr>
							<td style="width:18px;padding-right:4px"></td>
							<td style="line-height:50pt; height:25px;font-size: 10pt;"><span class="pagetop"><b>添加随笔</b></span>
							<span class="pagetop">
                              <a href="index" style="float: right;">返回</a>
                            </span>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="height:20px">
				<td></td>
			</tr>
			<tr>
				<td>
					<form method="post" action="/add">
						<table border="0">
							<tr>
								<td>标题</td>
								<td><input type="text" name="title" value="" size="100" /></td>
							</tr>
							<tr>
								<td>网址</td>
								<td><input type="text" name="url" value="" size="100" /></td>
							</tr>
							<tr>
								<td></td>
								<td><b>或者</b></td>
							</tr>
							<tr>
								<td>内容</td>
								<td><textarea name="text" rows="20" cols="100"></textarea></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td><input type="submit" value="提交" />
									</td>

								</tr>
								<tr style="height:35px">
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>【发文说明】博客园是面向开发者的知识分享社区，不允许发布任何推广、广告、政治方面的内容。
											 博客园首页（即网站首页）只能发布原创的、高质量的、能让读者从中学到东西的内容。
											 如果博文质量不符合首页要求，会被工作人员移出首页，望理解。如有疑问，请联系contact@cnblogs.com。<br />
										<br />
										You can also submit via <a href="bookmarklet.html"><u>bookmarklet</u></a>.</td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
				</table>
			</center>
		</body>
		</html>